body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container {
    max-width: 850px;
}

.header {
    height: 50px;
}

.leaderboard {
    text-align: center;
}

.img-polaroid {
    margin-top: 5px;
}

.footer {
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
}

label.error {
    color: #FF0000;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    margin-left: 5px;
}

.contactme-error {
    display: none;
}

.contactme-success {
    display: none;
}

fieldset {
    width: 100%;
}

/* Large desktop */
@media (min-width: 980px) {
    
    h1 {
        font-size: 72px;
        line-height: 1;
    }
    
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

    h1 {
        font-size: 60px;
        line-height: 1;
    }
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    
    h1 {
        font-size: 38px;
        line-height: 1;
    }
    
    h3 {
        font-size: 18px;
    }
    
    label.error {
        font-size: 10px;
    }
    
    .footer {
        font-size: 10px;
    }
    
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    
    h1 {
        font-size: 25px;
        line-height: 1;
    }
    
    h3 {
        font-size: 18px;
    }
    
    .footer {
        font-size: 10px;
    }
    
    label.error {
        font-size: 10px;
    }
    
}